.navbar {
  font-family:'Courier New', Courier, monospace;
}

.navbar-brand {
  font-size: 1.5rem;
}

.page {
  max-width: 1080px !important;
  font-size: 17px;
}

.brand {
  color: #FDAD56 !important;
}

.address {
  font-size: 1.2rem;
}

main {
  background-color: #FFFFFF;
  height: 100%;
  width: auto;
}

.level {
  height: 30px !important;
}

#map {
  width: 100%;
  height: 380px;
  border: 0;
}

#window {
  max-height: 400px;
  max-width: 600px;
}

#logo {
  max-width: 500px;
}

iframe {
  max-width: none !important;
}

footer {
  background-color: #363636 !important;
  color: white;
}

.profile-pic {
  border: 1px black solid;
}
