.navbar {
  font-family:'Courier New', Courier, monospace;
}

.navbar-brand {
  font-size: 1.5rem;
}

.home-content {
  max-width: 960px !important;
}

.address {
  font-size: 1.2rem;
}

#window {
  max-height: 640px;
}

main {
  background-color: rgb(250, 250, 250);
  height: 100%;
  width: 100vw;
}

#map {
  width: 100%;
  height: 365px;
  border: 0;
}

iframe {
  max-width: none !important;
}

footer {
  background-color: #363636 !important;
  color: white;
}
