.navbar {
  font-family:'Courier New', Courier, monospace;
}

.navbar-brand {
  font-size: 1.5rem;
}

.home-content {
  max-width: 960px !important;
  font-size: 17px;
}

.address {
  font-size: 1.2rem;
}

main {
  background-color: #FFFFFF;
  height: 100%;
  width: auto;
}

#map {
  width: 100%;
  height: 325px;
  border: 0;
}

#window {
  max-height: 400px;
  max-width: 600px;
}

iframe {
  max-width: none !important;
}

footer {
  background-color: #363636 !important;
  color: white;
}
